ProxyPreserveHost On
<Location /birt>
	AuthType Basic
	AuthName "Restricted"
	AuthEonAuthoritative On
	AuthEonMySQLSocket /var/lib/mysql/mysql.sock
	AuthEonMySQLUsername {{ sql_user.internal.user }}
	AuthEonMySQLPassword {{ sql_user.internal.password }}
	AuthEonMySQLDB {{ sql.db.eorweb }}
	AuthEonMySQLTableSID sessions,users,groupright
	AuthEonMySQLFieldUID sessions.user_id
	AuthEonMySQLTableSIDCondition "`users`.`user_name`=$user_name AND `groupright`.`tab_1`='1'"
	AuthEonPageLogin /login.php
	AuthEonSessionCookies On
	Require valid-user 
	ProxyPass http://{{ wildfly.bind }}:{{ tcp_ports.wildfly[0] }}/birt
	ProxyPassReverse http://{{ wildfly.bind }}:{{ tcp_ports.wildfly[0] }}/birt
	ProxyPassReverseCookiePath / /birt
	ProxyPassReverseCookiePath /birt /birt  
</Location>